/* start global style 2222*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: sans-serif;
  /* height: 5000px;  */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/* end global style */
@media(min-width:576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}
@media(min-width:768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media(min-width:992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media(min-width:1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

/* start variabel 1111*/
:root {
  --scroll-color1: white;
  --scroll-color2: black;
}
/* end variabel */

/* start container */
.container {

}
/* end container */
/* start scrollbar =----*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(
    90deg,
    var(--scroll-color1),
    var(--scroll-color2),
    var(--scroll-color1)
  );
  box-shadow: 0px 0px 5px inset rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    90deg,
    var(--scroll-color2),
    var(--scroll-color1),
    var(--scroll-color2)
  );
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  background-image: linear-gradient(
    90deg,
    var(--scroll-color2),
    var(--scroll-color1),
    var(--scroll-color2)
  );
  border-radius: 50%;
}
/* end scrollbar */
.toTop {
  width: 60px;
  height: 60px;
  background-color: black;
  border: solid 3px white;
  position: fixed;
  bottom: 30px;
  right: -60px;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 999;
}
.toTop i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -65%);
  width: 20px;
  height: 20px;
  font-size: 30px;
  color: white;
}
