
:root {
    --master-color:white;
    --altrnativ-color:#d7d7d7;
    --master-text-color: #18191C;
    --altrnativ-text-color: white;
    --main-duration: 0.4s;
    --master-size:1.3em;
    --title-size:4em;
}


.header   {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    height: 60px;
    box-sizing: border-box;
}
.header .container  {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: var(--master-color);


}

.header .log {
    width: 30%;
}
.header .log a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--master-text-color);
}
.header .nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    transition: var(--main-duration) ;
    z-index: 5000;
}
.header .nav a{
    padding: 6px 10px;
    color: var(--master-text-color);
    font-size: var(--master-size);
    letter-spacing: 1.3px;
}
.header .nav a:hover {
    background-color: var(--altrnativ-color);
    }
/* start icon  */
.header .icon {
    width: 40px;
    position: relative;
    text-align: left;
    display: none;
    height: 37px;
    transition-duration: var(--main-duration);
}
.header .icon:hover {
    box-shadow: 0px 0px 13px red;
}
.header .icon img{
width: 100%;
}
/* start media quary */
@media(max-width:574px) { 
    .header  {
    }
    .header .container {
        padding: 0 50px;
    }
    .header .log {
        width: auto
    }

    .header .icon {
        display: inline-block;
    }

    .header .nav {
        position: absolute;
        top: 60px;
        left: -100%;
        flex-direction: column;
        background-color: #070707ab;
        justify-content: flex-start;
    } 

    .header .left {
        left: 0;
    }
    .header .nav a{
        padding: 15px 15px;
        color: var(--master-color);
        font-size: var(--master-size);
        letter-spacing: 1.3px;
        width: 100%;
    }
    .header .nav a:hover {
        background-color: #6a6a6a;
        }
    .header  .open{
        display: flex;
        }
} 
/* end media quary */
/* end icon  */

/* start landing */
.landing {
height: 100vh;
}
.landing .container{
    height: 100%;
    position: relative;
        
    padding: 150px 0 0;
    }
.lineData {
        width: 90%;
        /* height: 50px; */
        border: solid 1px black;
        padding: 12px 24px;
        border-radius: 5px;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: space-between; */
        font-size: var(--master-size);
        margin: auto;
        margin-top: 50px;
        margin-left: 30px;
        /* flex-wrap: wrap; */
        line-height: 1.3;
    }

.landing .design {

    } 
.landing .design .black{
    width: 100%;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #18191C;
} 
.landing .design .text{
    width: 86%;
    height: 210px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 5%;
    background-image: linear-gradient(90deg, #4C5055, #e9e9e9, #7F8991);
} 
.landing .design .text a{
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px ;
    background-color: #484545;
    border-radius: 5px;
    color: white;
    font-weight: bold;

} 
.landing .design .text a:hover{
   

    background-color: #9E9E9E;


} 

.landing .design .text span{
    width: 104px;
    height: 106px;
    border: solid 2px black;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate3d(-6, -6, 3, 193deg) translate(-61px, 8px)}
.landing .design .text .tow{
    bottom: 81px;
}
/* end landing */


/* start about me */
.aboutMe {
    padding: 50px 0;
}
.aboutMe .container{

}
.aboutMe .container .myImage{
    height: 400px;
    padding: 10px;
}
.aboutMe .container .myImage img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.aboutMe .container .contentText {
    width: 100%;
    font-size:var(--master-size);
    position: relative;
}

.aboutMe .container .contentText .data{
    /* font-size: 4em; */
    /* color: var(--master-text-color); */
    padding: 15px;
}
.aboutMe .container .contentText .data h1{
    font-size: var(--title-size);
    color: var(--master-text-color);
    margin: 10px 0;

}
.aboutMe .container .contentText .data .datas{
    line-height: 1.6;
    margin: 20px 0;
    background-color: #eee;
}
.aboutMe .container .contentText .data .description{
    letter-spacing: 1.1px;
    line-height: 1.2;
}

/* end about me */

/* start my skills */

.myskills {
    margin: 100px 0;
}

.myskills h1 {
    font-size: 3em;
}
.skills-mySkills {
    text-align: center;
    display: block;
    padding: 20px;
    background-image: linear-gradient(45deg, #F9B447, #EF612C, #B2428C, #34A298, #A0CB4C);  
    position: relative;
}
.skills-mySkills .text{
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: wheat;
}
.skills-mySkills .points {
    transition: 0.8s;
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(45deg, #F9B447, #EF612C, #B2428C, #34A298, #A0CB4C);
    box-shadow: 0px 0px 11px black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.skills-mySkills .points span{
    display: none;
width: 20px;
height: 13px;
background-color: red;
border-radius: 50%;
box-shadow: 0px 0px 1px black;


}
.skills-mySkills .points span:nth-child(1){
background-color: #F9B447;

}
.skills-mySkills .points span:nth-child(2){
background-color: #EF612C;

}
.skills-mySkills .points span:nth-child(3){
background-color: #B2428C;

}
.skills-mySkills .points span:nth-child(4){
background-color: #34A298;

}
.skills-mySkills .points span:nth-child(5){
background-color: #A0CB4C;

}

.skills-mySkills .points span:nth-child(6){
background-color: #795548 ;

}
.skills-mySkills .points span:nth-child(7){
background-color: #4caf50 ;

}
.skills-mySkills .points span:nth-child(8){
background-color: #607d8b ;

}
.skills-mySkills .points span:nth-child(9){
background-color: #03a9f4 ;

}


.skill-mySkills {
    margin: 50px 0 ;
}
.skill-mySkills div{
    padding: 25px 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5;
    position: relative;
    width: 90%;
    margin-left: auto;
    transition: .5s;
    transform: rotate3d(0, 1, 1, 180deg);
}
.skill-mySkills div::before{
    content: '';
position: absolute;
left: -25px;
bottom: 11px;
width: 50px;
height: 50px;
transform: rotate(45deg);
background-color: red;
box-shadow: 0PX 0PX 1PX BLACK;
transition: 0.8s;

}



.skill-mySkills div:nth-child(1)::before {
    content: '50%';
background-color: #F9B447 ;


}
.skill-mySkills div:nth-child(2)::before {
    content: '90%';
background-color: #EF612C ;


}
.skill-mySkills div:nth-child(3)::before {
    content: '80%';
background-color: #B2428C ;


}
.skill-mySkills div:nth-child(4)::before {
    content: '90%';
background-color: #34A298 ;


}
.skill-mySkills div:nth-child(5)::before {
    content: '80%';
background-color: #A0CB4C ;


}
.skill-mySkills div:nth-child(6)::before {
    content: '50%';
background-color: #795548 ;


}
.skill-mySkills div:nth-child(7)::before {
    content: '50%';
background-color: #4caf50 ;


}
.skill-mySkills div:nth-child(8)::before {
    content: '50%';
background-color: #607d8b ;


}
.skill-mySkills div:nth-child(9)::before {
    content: '50%';
background-color: #03a9f4 ;


}

.skill-mySkills div:nth-child(1) {
    background: #F9B447;
}
.skill-mySkills div:nth-child(2) {
    background: #EF612C;
    
}

.skill-mySkills div:nth-child(3) {
    background: #B2428C;
    
}

.skill-mySkills div:nth-child(4) {
    background: #34A298;
    
}

.skill-mySkills div:nth-child(5) {
    background: #A0CB4C;

}
.skill-mySkills div:nth-child(6) {
    background: #795548;

}
.skill-mySkills div:nth-child(7) {
    background: #4caf50;

}
.skill-mySkills div:nth-child(8) {
    background: #607d8b;

}
.skill-mySkills div:nth-child(9) {
    background: #03a9f4;

}





/* end my skills */


/* start my works */
.myWorks {
}
.myWorks .container{
    padding: 50px 10px;
}
.myWorks .container .lineData{
    margin: 0;
    width: 100%;
}
.myWorks .container h1{
font-size: 3em;
}

.myWorks .container .cards{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-evenly;
    }
    .myWorks .container .cards .card{
    width: 100%;
    height: 300px;
    box-shadow: 0px 0px 1.2px black;
    border-radius: 5px;
    overflow: hidden;
    }
    .myWorks .container .cards .card:hover{
        opacity: 0.8;
    }
    .myWorks .container .cards .card img{
    width: 100%;
    height: 70%;
    position: relative;
    }
    
    .myWorks .container .cards .card .title{
    font-size: 1.3em;
    padding: 30px 10px;
    display: block;
    } 
/* end my works */

/* start footer */
.footer {
    background-color: var(--master-text-color);
    padding: 50px ;
    color: white;
}
.footer .lineData {
    border: solid 2px white;
}
.footer .elements{
    display: flex;
    justify-content: space-between;
}
.footer .elements .text-data{
    width: 100%;
    padding-top: 76px;
}
.footer .elements .text-data h1{
    font-size: var(--title-size);
}
.footer .elements .text-data div{
    font-size: 1.7em;
    margin-bottom: 25px;
}
.footer .elements .text-data div span{
margin-right: 20px;
}
.footer .elements .image{
    display: none;
    width: 350px;
    height: 370px;
    margin: 50px 0;
}
.footer .elements .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* end footer */